rofi/cache/**
wal/**

# These are updated automatically when changing theme with Wal
X/Xdefaults
X/Xresources
firefox/chrome/userContent.css
kitty/kitty.conf
luakit/theme.lua
userstyles/dark.css
desktop/rofi/rofi.rasi
desktop/rofi.rasi
desktop/xresources/99-urxvt
