
@-moz-document regexp(".*") {
    /* CSS Variable names matter to avoid collision with pages CSS
     * Ex: if you name it --background instead --walbg it will not
     * have effect on pages like Reddit
     */
    :root {
    --walbg: $background;
    --walfg: $foreground;
    --wal0:  $color0;
    --wal1:  $color1;
    --wal2:  $color2;
    --wal3:  $color3;
    --wal4:  $color4;
    --wal5:  $color5;
    --wal6:  $color6;
    --wal7:  $color7;
    --wal8:  $color8;
    --wal9:  $color9;
    --wal10: $color10;
    --wal11: $color11;
    --wal12: $color12;
    --wal13: $color13;
    --wal14: $color14;
    --wal15: $color15;
    --font-sans:"Iosevka Term Light";
    --font-serif: "Iosevka Term Light";
    --font-mono:  "Terminus (TTF)";
    }
}
@-moz-document regexp("^https://github.com/.*") {
    .color-bg-default { background-color: var(--walbg)!important; }
}

@-moz-document regexp("^(view-source):.*") {
    *, div {background:#050a0f!important;color:#ffdcb5!important;font-size:16px}
    *:before {background:#2e3e4e!important;color:#ffdcb5!important}
    pre {white-space:pre-wrap!important;line-height:1.5rem;max-width:90vw}
}

@-moz-document regexp("^(https?|file|luakit):.*") {
    * img { background-color: #ffffff!important }
    html, body, * {
        color:var(--wal15)!important;
        background-color:var(--walbg)!important;
        border-color:var(--wal8)!important;
    }
    * p, * p * {font-family:var(--font-sans)!important; font-size:18px!important}
    * pre, * pre *, * code, * code * {
        color:var(--walfg)!important;
        background-color:var(--wal0)!important;
        font-family:var(--font-mono)!important;
        font-size:12px!important;
        border-radius:0.25em!important;
        padding:0.05em!important;
    }
    * a, * a * { color: var(--wal2)!important; }
}
